/* ====== Global ====== */

body {
    font-family: sans-serif;
    background-color: #121212;
    color: #dddddd;
    margin: 0;
    padding: 0;
}

/* ===== Header ===== */

header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}

h1 {
    margin: 0;
}

/* ===== Sections ===== */

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

section {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
}

/* ===== Person Title ===== */

h2 {
    margin-top: 0;
    color: #ffffff;
}

/* ===== List ===== */

ol {
    padding-left: 20px;
}

/* ===== Footer ===== */

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pfp {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}
